:root{
    --color_primario: #1293D4;
    --color_secundario: #F24822;
    --color_terceareo: #24282B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    header{
        #cabecera{
            height: 70vh;
            width: 100%;
            background-image: url(../assets/images/cabecera.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            padding: 100px;
            h1{
                color: #fff;
                font-family: sans-serif;
                font-size: 4.2vw;
                font-weight: bold;
            }
            p{
                color: #fff;
                padding: 30px;
                text-align: center;
                font-family: sans-serif;
                font-size: 1.5vw;
            }
        }
        nav{
            padding: 0 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color_terceareo);
            height: 15vh;
            border-bottom: solid 5px var(--color_primario);
            h2{
                color: #fff;
                font-family: sans-serif;
                font-size: 2.4vw;
                font-weight: bold;
                span{
                    color: var(--color_primario);
                }
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                li{
                    list-style: none;
                    a{
                        font-family: sans-serif;
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.1vw;
                    }
                    a:hover{
                        cursor: pointer;
                        color: var(--color_primario);
                    }
                }
            }
        }
        .contenedor_suscribete{
            height: 15vh;
            background-color: var(--color_terceareo);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 160px;
            h3{
                color: #fff;
                font-family: sans-serif;
                font-size: 1.8vw;
            }
            .contenedor_formulario_suscribete{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                input[type=email]{
                    background-color: #fff;
                    width: 250px;
                    height: 36px;
                    outline: none;
                    border: none;
                    padding: 5px;
                }
                input[type=button]{
                    background-color: var(--color_secundario);
                    color: #fff;
                    font-size: 1.1vw;
                    font-family: sans-serif;
                    font-weight: 300;
                    width: 100px;
                    border: none;
                    outline: none;
                    height: 40px;
                }
                input[type=button]:hover{
                    transition: 0.4s;
                    background-color: #fa2e00;
                    cursor: pointer;
                }
            }
        }
    }
    #contenido_servicios{
        margin: 20px;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 80px;
        article{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .card_servicio{
                background-color: #D9D9D9;
                padding: 35px 20px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                border: #b4b4b4 solid 1px;
                h4{
                    font-family: sans-serif;
                    font-size: 1.3vw;
                }
                p{
                    font-family: sans-serif;
                    font-size: 1.05vw;
                }
                span{
                    font-family: sans-serif;
                    font-size: 1.05vw;
                }
            }
        }
        aside{
            width: 30%;
            section{
                background-color: #34424B;
                padding: 30px 20px;
                h4{
                    font-family: sans-serif;
                    font-size: 1.4vw;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p{
                    color: #fff;
                }
            }
        }
    }
    #contenido_nosotros{
        margin: 20px;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 80px;
        article{
            width: 60%;
            h4{
                font-family: sans-serif;
                font-size: 1.4vw;
            }
            .card_contenido{
                margin: 20px 0;
                p{
                    font-family: sans-serif;
                }
                #texto_marcado{
                    background-color: #34424B;
                    padding: 15px;
                    color: #fff;
                    font-family: sans-serif;
                }
            }
            figure{
                width: 100%;
                img{
                    width: inherit;
                    height: inherit;
                }
            }
        }
        aside{
            width: 30%;
            section{
                background-color: #34424B;
                padding: 30px 20px;
                h4{
                    font-family: sans-serif;
                    font-size: 1.4vw;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p{
                    color: #fff;
                }
            }
        }
    }
    #contenido_index{
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .card_index{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            figure{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                width: 30%;
                height: 30%;
                }
            }
            h4{
                font-family: sans-serif;
                text-align: center;
                font-size: 1.3vw;
            }
            p{
                text-align: center;
            }
        }
    }
    
    
    footer{
        background-color: var(--color_primario);
        height: 15vh;
        display: grid;
        place-items: center;
        p{
            color: #fff;
            font-family: sans-serif;
            margin: 20px;
        }
    }
}